<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/user/<%= username %>">Profile</a></li>
                <li><a href="/search">Search</a></li>
                <% if (username === 'admin') { %>
                    <li><a href="/admin">Admin</a></li>
                <% } %>
                <li><a href="#" id="logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">

    <div class="page-header">
        <% if (isSearch) { %>
        <h1>Search your stuff</h1>
        <% } else { %>
        <h1>Search Result</h1>
        <% } %>
    </div>
    <div class="page-body">
        <div class="alert alert-danger fade in" id="alertError" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p id="errorMessage"></p>
        </div>
        <div class="alert alert-success fade in" id="alertInfo" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p id="infoMessage"></p>
        </div>
        <% if (isSearch) { %>
        <form action='/search' method="get">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="key">Key</label>
                        <input type="text" name="key" class="form-control" id="key" aria-describedby="key" placeholder="Enter Key" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="value">Value</label>
                        <input type="text" name="value" class="form-control" id="value" aria-describedby="value" placeholder="Enter Value" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
        </form>
        <% } else if (hasRecord) { %>
        <div class="alert alert-success fade in" id="alertInfo">
            <p>Record Exist!</p>
        </div>
        <form action="/search">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="key">Key</label>
                        <input type="text" class="form-control disabled" id="key" aria-describedby="key" placeholder="<%= Object.keys(data)[0] %>" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="value">Value</label>
                        <input type="text" class="form-control disabled" id="value" aria-describedby="value" placeholder="<%= Object.values(data)[0] %>" readonly>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Back</button>
        </form>
        <% } else { %>
        <div class="alert alert-danger fade in" id="alertInfo">
            <p>No Such Record!</p>
        </div>
        <button type="button" class="btn btn-primary" onclick="back()">Back</button>
        <% } %>
    </div>

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    function back() {
        console.log("Getting back...");
        $(window).attr('location','/search');
    }

    function cutdown() {
        let i = 3;
        $('#infoMessage').text(`Logout success! Redirecting in ${i} seconds...`);
        setInterval(() => {
            i = i - 1;
            if (i === 0) {
                $(window).attr('location','/auth/login');
            }
            $('#infoMessage').text(`Logout success! Redirecting in ${i} seconds...`);
        }, 1000);
    }

    (() => {
        $('#search').click(() => {
            $.ajax({
                url: '/search',
                method: 'get',
                success: (res) => {
                    console.log(res);
                    let alertError = $('#alertError');
                    let alertInfo = $('#alertInfo');
                    alertError.hide();
                    alertInfo.hide();

                    if (!res) {
                        cutdown();
                        alertInfo.fadeIn();
                        return;
                    }
                    console.log(res.error);
                    $('#errorMessage').text(res.error);
                    alertError.fadeIn();
                }
            });
        });

        $('#logout').click(() => {
            $.ajax({
                url: '/auth/logout',
                method: 'delete',
                success: (res) => {
                    console.log(res);
                    let alertError = $('#alertError');
                    let alertInfo = $('#alertInfo');
                    alertError.hide();
                    alertInfo.hide();

                    if (!res) {
                        cutdown();
                        alertInfo.fadeIn();
                        return;
                    }

                    console.log(res.error);
                    $('#errorMessage').text(res.error);
                    alertError.fadeIn();

                },
                error: (XMLHttpRequest) => {
                    console.log(XMLHttpRequest.status);
                    $('#errorMessage').text('Internal Server Error!');
                    $('#alertError').fadeIn();
                }
            });
        });
    })();
</script>
</body>
</html>